<form method="post" action="{{ path('app_n_f_t_delete', {'id': n_f_t.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ n_f_t.id) }}">
    <button class="btn">Delete</button>
</form>
