{% extends 'base.html.twig' %}

{% block title %}Edit NFT{% endblock %}

{% block body %}
    <h1>Edit NFT</h1>

    {{ include('nft/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_n_f_t_index') }}">back to list</a>

    {{ include('nft/_delete_form.html.twig') }}
{% endblock %}
