{% extends 'base.html.twig' %}

{% block title %}New NFTCollection{% endblock %}

{% block body %}
    <h1>Create new NFTCollection</h1>

    {{ include('nft_collection/_form.html.twig') }}

    <a href="{{ path('app_n_f_t_collection_index') }}">back to list</a>
{% endblock %}
